body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.1;
}

.main {
  margin: 0 auto;
  max-width: $main-container-max;
  padding: $header-height + spacing(5) spacing(2) 0;
}

@media (max-width: $mobile-large) {
  .main {
    padding-top: $header-height + spacing(2);
  }
}
