.header {
  background: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $header-height;
  position: fixed;
  width: 100vw;
  z-index: 2;
  border-bottom: 1px solid $bg-color;

  &--with-border {
    border-bottom: 1px solid $header-base-color;
  }
}

.navbar {
  @extend %section-layout;
  padding: spacing(3) spacing(2);
  width: 100%;
  display: flex;

  &__logo {
    font-family: "Passion One", cursive;
    font-size: 24px;
    color: $header-base-color;
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    gap: spacing(3);
  }

  &__menu-item {
    &:hover,
    &--selected {
      border-bottom: 4px solid $header-base-color;
    }

    &--no-highlight:hover {
      border-bottom: none;
    }
  }

  &__button {
    text-align: center;
    background: $header-base-color;
    padding: spacing(1) spacing(2);
    border-radius: spacing(1);
    color: $font-color-secondary;
    box-shadow: 2px 1px 8px $shadow-color;

    &:hover {
      background: darken($header-base-color, 5%);
    }
  }

  &__toggle {
    position: absolute;
    right: spacing(2);
    display: none;
    flex-flow: column wrap;
    width: spacing(3);
    gap: spacing(0.5);
  }

  &__toggle-bar {
    background: $header-base-color;
    width: 100%;
    height: spacing(0.5);
    border-radius: spacing(0.5);
  }
}

@media (max-width: $mobile-large) {
  .header {
    height: auto;
    min-height: $header-height;
  }

  .navbar {
    flex-direction: column;

    &__menu {
      display: none;
      margin-top: spacing(3);
      flex-direction: column;

      &--expanded {
        display: flex;
      }
    }

    &__menu-item {
      font-size: 1.5rem;
      text-align: center;
      padding: spacing(1) 0;
      border-bottom: 1px solid $header-base-color;

      &--selected {
        border-bottom: 1px solid $header-base-color;
      }

      &:hover {
        border-bottom: none;
      }
    }

    &__button {
      display: block;
      width: 100%;

      &:hover {
        background: initial;
      }
    }

    &__toggle {
      display: flex;
    }
  }
}
