.hero {
  @extend %section-layout;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: spacing(6);

  &__title {
    background: $header-base-color-light;
    padding: spacing(6) spacing(10);
  }

  &__diamond {
    background: $header-base-color-light;
    width: spacing(7);
    height: spacing(7);
    margin-top: spacing(-3.5);
    transform: rotate(45deg);
  }

  &__avatar {
    width: spacing(12);
    border-radius: 50%;
    margin-top: spacing(3);
  }
}

@media (max-width: $mobile-large) {
  .hero {
    &__title {
      padding: spacing(4) spacing(2);
    }
  }
}
